<div class="form-group">
    <label for="changeFistName">Change first name</label>
    <input type="text" class="form-control" name="first_name" id="changeFistName" placeholder="Enter first name">
</div>
<div class="form-group">
    <label for="changeLastName">Change last name</label>
    <input type="text" class="form-control" name="last_name" id="changeLastName" placeholder="Enter last name">
</div>
<div class="container text-left" style="margin-top: 10px; margin-right: 10px">
    <button type="submit" name="change-button" class="btn btn-success btn-pill d-flex ml-auto mr-auto">Change</button>
</div>