{% extends 'base.html' %}

{% block title %} Films {% endblock %}

{% block navbar-items %}{% endblock %}

{% block body %}

    <!-- Cards -->
    <div id="cards" class="container mb-2 infinite-container" style="padding-bottom: 5px">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
            <h3 class="mb-4">
                Films
                <button type="button" class="btn btn-primary btn-sm btn-pill" data-toggle="modal"
                        data-target="#addFilmModal">
                    +
                </button>
                <!-- Add Film Modal -->
                <div class="modal fade" id="addFilmModal" tabindex="-1" role="dialog"
                     aria-labelledby="addFilmModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addFilmModalLabel">Add film</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="film-form" method="post" enctype="multipart/form-data"
                                      action="/film/add_film/">
                                    {% csrf_token %}
                                    {% include "add_film_form.html" %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </h3>
            <p>Have fun!</p>
        </div>

        <div id="film-cards">
            {% for row in films %}
                <div class="row" id="row">

                    {% for film in row %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <img class="card-img" src="{{ film.image_path }}" alt="{{ film.name }}"
                                     style="padding-top: 10px">
                                <div class="card-body">
                                    <h4 class="card-title">{{ film.name }}</h4>
                                    <p class="card-text">{{ film.short_description }}...</p>
                                    <a href="/film/{{ film.id }}" class="btn btn-primary">More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}